* {
    margin: 0px;
}
body {
    min-height: 100vh;
    margin: auto;
    text-align: center;
}
header{
    background-color: rgb(29, 29, 29);
    height: auto;
}
h1 {
    margin: auto;
    padding: 10px;
    color: aliceblue;
}
.container {
    width: 90%;
    min-height: 500px;
    margin: auto;
    text-align: left;

}

#details {
    width: 50%;
    height: 150px;
    margin: 5px auto auto 20px;
    border-radius: 5px;
}

ol {
    list-style: none;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
li {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}
.detailslist{
    text-align: left;
    width: 100%;
    border: none; 
    background: none; 
    color: inherit; 
    font-family: inherit;
    font-size: inherit;
}
.detailslist:hover{
    font-weight: bold;
    color: green;
}
#mapholder {
    min-width: 65%;
    min-height: 500px;
    background: linear-gradient( green, aquamarine ) ;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(60, 58, 80, 0.57);
}

#d2, #demo {
    width: 500px;
    min-height: 200px;
    margin-bottom: 30px;
    background-color: aqua;
}

@media only screen and (max-width: 620px) {
    .container {
        display: block;
    }
    
    #mapholder {
        min-height: 350px;
    }

    #details {
        width: 90%;
    }
}